In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [2]:
df_trips = pd.read_csv('trips_1.5M.csv')
df_trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount
0,1,2015-06-03 10:41:50,2015-06-03 11:08:33,1,2.80,-73.952888,40.776814,1,N,-73.979034,40.756611,1,17.5,0.0,0.5,4.57,0.0,22.87
1,2,2015-02-14 19:38:55,2015-02-14 20:00:59,1,2.79,-73.995827,40.725353,1,N,-73.984314,40.757389,2,15.0,0.0,0.5,0.00,0.0,15.80
2,2,2015-04-21 15:21:04,2015-04-21 15:33:38,1,1.75,-73.951920,40.769421,1,N,-73.956421,40.787140,2,9.5,0.0,0.5,0.00,0.0,10.30
3,2,2015-01-29 18:58:54,2015-01-29 19:04:46,3,0.83,-74.009026,40.715710,1,N,-74.003418,40.723152,1,5.5,1.0,0.5,1.46,0.0,8.76
4,1,2015-06-05 10:47:29,2015-06-05 10:58:00,3,0.80,-73.985909,40.756176,1,N,-73.988358,40.747398,2,7.0,0.0,0.5,0.00,0.0,7.80

In [3]:
#  Remove rows with "infinite" distance
df_trips = df_trips[~np.isinf(df_trips['trip_distance'])]

In [4]:
df_trips['amount_without_tip'] = df_trips['total_amount'] - df_trips['tip_amount']
df_trips.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount,amount_without_tip
0,1,2015-06-03 10:41:50,2015-06-03 11:08:33,1,2.80,-73.952888,40.776814,1,N,-73.979034,40.756611,1,17.5,0.0,0.5,4.57,0.0,22.87,18.3
1,2,2015-02-14 19:38:55,2015-02-14 20:00:59,1,2.79,-73.995827,40.725353,1,N,-73.984314,40.757389,2,15.0,0.0,0.5,0.00,0.0,15.80,15.8
2,2,2015-04-21 15:21:04,2015-04-21 15:33:38,1,1.75,-73.951920,40.769421,1,N,-73.956421,40.787140,2,9.5,0.0,0.5,0.00,0.0,10.30,10.3
3,2,2015-01-29 18:58:54,2015-01-29 19:04:46,3,0.83,-74.009026,40.715710,1,N,-74.003418,40.723152,1,5.5,1.0,0.5,1.46,0.0,8.76,7.3
4,1,2015-06-05 10:47:29,2015-06-05 10:58:00,3,0.80,-73.985909,40.756176,1,N,-73.988358,40.747398,2,7.0,0.0,0.5,0.00,0.0,7.80,7.8

In [19]:
inputs = df_trips[['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']]
feature = df_trips[['trip_distance']]

In [21]:
inputs.head()

   pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
0        -73.952888        40.776814         -73.979034         40.756611
1        -73.995827        40.725353         -73.984314         40.757389
2        -73.951920        40.769421         -73.956421         40.787140
3        -74.009026        40.715710         -74.003418         40.723152
4        -73.985909        40.756176         -73.988358         40.747398

In [22]:
feature.head()

   trip_distance
0           2.80
1           2.79
2           1.75
3           0.83
4           0.80

In [23]:
inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500000 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   pickup_longitude   1500000 non-null  float64
 1   pickup_latitude    1500000 non-null  float64
 2   dropoff_longitude  1500000 non-null  float64
 3   dropoff_latitude   1500000 non-null  float64
dtypes: float64(4)
memory usage: 45.8 MB

In [12]:
# # Trabnsform categorical variables into numerical variables
# # Declare label encoders
# l1_encoder = LabelEncoder()
# l2_encoder = LabelEncoder()

# # We train the encoder to see all possible values
# l1_encoder.fit(inputs.tpep_pickup_datetime)

# # we transform the id_velov column
# inputs['tpep_pickup_datetime'] = l1_encoder.transform(inputs['tpep_pickup_datetime'])

# # We do the same for the tpep_dropoff_datetime column
# l2_encoder.fit(inputs['tpep_dropoff_datetime'])
# inputs['tpep_dropoff_datetime'] = l2_encoder.transform(inputs['tpep_dropoff_datetime'])

# # we check the results
# inputs.head()

C:\Users\Damo\AppData\Local\Temp\ipykernel_14412\1135411324.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['tpep_pickup_datetime'] = l1_encoder.transform(inputs['tpep_pickup_datetime'])
C:\Users\Damo\AppData\Local\Temp\ipykernel_14412\1135411324.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inputs['tpep_dropoff_datetime'] = l2_encoder.transform(inputs['tpep_dropoff_datetime'])

,tpep_pickup_datetime,tpep_dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,amount_without_tip
0,1207796,1207557,-73.952888,40.776814,-73.979034,40.756611,18.3
1,345656,345503,-73.995827,40.725353,-73.984314,40.757389,15.8
2,871971,871566,-73.951920,40.769421,-73.956421,40.787140,10.3
3,214699,214445,-74.009026,40.715710,-74.003418,40.723152,7.3
4,1224004,1223674,-73.985909,40.756176,-73.988358,40.747398,7.8

In [24]:
# We separate the dataset in 2: a training set and a test set
x_train, x_test, y_train, y_test = train_test_split(inputs, feature, random_state=69)

In [25]:
model = LinearRegression()

model.fit(x_train, y_train)

LinearRegression()

In [26]:
train_predictions = model.predict(x_test)

In [27]:
# The average error is calculated by comparing the predictions with the values that should be predicted

mae_lr = mean_absolute_error(y_test, train_predictions)

print('MODELNAME MAE : ', mae_lr)

MODELNAME MAE :  62.1664395685674

In [28]:
df_shops_2015 = pd.read_csv('2015_shop_locations.csv')
inputs_shops = df_shops_2015[['lat', 'long']]
inputs_shops

           lat       long
0    40.730837 -73.983194
1    40.740454 -73.991268
2    40.694957 -73.982865
3    40.757522 -73.834352
4    40.794615 -73.933771
..         ...        ...
215  40.736716 -73.986817
216  40.850804 -73.867450
217  40.715137 -74.011088
218  40.718249 -74.007346
219  40.725204 -73.879608

[220 rows x 2 columns]

In [29]:
predictions_distance = model.predict(inputs_shops)

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- lat
- long
Feature names seen at fit time, yet now missing:
- dropoff_latitude
- dropoff_longitude
- pickup_latitude
- pickup_longitude